html body
{
	
}

/*The container holding all the book stuff*/
#bookHolder
{
	width: 100%;
	text-align: center;
}
/*The book cover*/
#bookCover
{
	position: relative;
	background: green;
	margin-left: 15vw;
	margin-right: 15vw;
	height: 80vh;
	margin-top: 10vh;
	text-align: center;
	border: solid black 3px;
}

/*The spine of the book*/
#bookSpine
{
	position: relative;
	background:green;
	width:8vw;
	height:80vh;
	border:solid black 2px;
	margin-left:42%;
	margin-top: -.2vh;
}

/*The styling for the pages*/
#pageOne
{
	position: relative;
	background: white;
	border:solid black 2px;
	margin-left: 18vw;
	margin-right: 18vw;
	margin-top: -75vh;
	height: 70vh;
}

#pageTwo
{
	position: relative;
	background: white;
	border:solid black 2px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: -70.5vh;
	height: 70vh;
}

#pageThreeLeft
{
	position: relative;
	background: white;
	border:solid black 2px;
	margin-left: 24vw;
	margin-right: 48vw;
	margin-top: -70.4vh;
	height: 70vh;
	z-index: 2;
}
#pageThreeRight
{
	position: relative;
	background: white;
	border:solid black 2px;
	margin-left: 48vw;
	margin-right: 24vw;
	margin-top: -70.4vh;
	height: 70vh;
	z-index: 2;
}

/*The bookmark syling*/
#bookmark
{
	position: relative;
	background-color: red;
	margin-left: 25vw;
	margin-top: -5vh;
	height:20vh;
	width: 20vh;
	-webkit-clip-path: polygon(17% 0, 17% 100%, 46% 83%, 76% 99%, 76% 0);
	clip-path: polygon(17% 0, 17% 100%, 46% 83%, 76% 99%, 76% 0);
	z-index: 1;
	border: solid black 2px;
}

p
{
	font-size: 2.5vw;
	font-weight: bold;
	color: gray;
	opacity: .8;
	padding:0;
	margin:0;
	display: inline-block;
}
p:hover
{
	background-color: gray;
	opacity: .5;
	color:black;
}

/*The div that styles the actor*/
#boxOne
{
	padding-top: 2vh;
	text-align: center;
	margin-right:2vw; 
}
/*The styling fo the interpolation*/
.interpolateText
{
	text-align: left;
	margin-right:2vw;
	opacity: 0;
	margin-right: 11.1vw;
	margin-left: 1.4vw;
	font-size: 2.5vw;
	display: inline;
}

.interpolateText:hover
{
	background-color: gray;
	opacity: .5;
	color:white;
}

.textLines
{
	text-align: center;
	margin-right:2vw;
}